/* CSS Document */
input.btn {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 2px;
	padding-top: 2px;
	background-color:#fed;
	border: 1px solid;
	border-color: #696 #363 #363 #696;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
	cursor:pointer;
}
input.btnhov {
	  border-color: #c63 #930 #930 #c63;
	  color:#FF0000;
}	
#loading {
	position:absolute;
	top:0px;
	right:0px;
	background:#ff0000;
	color:#fff;
	font-size:14px;
	font-familly:Arial;
	padding:2px;
	display:none;
}
.search_year {
	width:75px;
}
.search_make {
	width:136px;
}
.search_model {
	width:136px;
}
.search_condition {
	width:75px;
}
.search_car_box_frame {
	width: 100%; max-height:320px; font-size: 12px; 
}
.search_car_box_frame_wide {
	max-width:980px;height:70px;margin-left:auto;margin-right:auto;width:100%;
}
.search_car_box_frame_narrow {
	width:230px;height:275px;margin-left:auto;margin-right:auto;
}
.search_car_box {
    position:relative; margin:10px;;
}
.search_car_box_narrow {
	position:relative; width: 245px; height:320px; margin:10px; margin-top: 0px;
}
.search_header {
	float:left; left:0px; top:0px;width:239px; height:10px;z-index:1; visibility:visible;
}
.search_header_logo {
	float:left; left:0px; top:10px;width:239px; height:44px;z-index:2; visibility:visible; font-size:16px; font-weight:bold;
}
.search_manufacturer_title {
	float:left; left:0px; top:54px;width:239px; height:20px;z-index:3; visibility:visible;
}
.search_min_price {
	float:left; left:0px; top:131px;width:119px; height:51px;z-index:6; visibility:visible;
}
.search_max_price {
	float:left; left:119px; top:131px;width:120px; height:51px;z-index:7; visibility:visible;
}
.search_trans {
	float:left; left:0px; top:182px;width:119px; height:51px;z-index:8; visibility:visible;
}
.search_mileage {
	float:left; left:119px; top:182px;width:120px; height:51px;z-index:9; visibility:visible;
}
.search_body {
	float:left; left:0px; top:233px;width:119px; height:50px;z-index:10; visibility:visible;
}
.search_button_box {
	float:left; width:100px; height:50px;z-index:11; visibility:visible;
}
.search_footer {
/*    float:left; left:0px; top:283px;width:239px; height:41px;z-index:12; visibility:visible;*/
}
.search_dropdown_bg {
	width: 200px;
}
.search_dropdown_sm {
	width: 100px;
}
.advanced_search {
	display:none;width:250px;float:left;min-height:24px;
}
.advanced_search_btn {
	cursor: pointer;
	color:#00CC00;
	display: none;
}
.advanced_search_btn_hide {
	cursor:pointer;color:#FF0000;font-weight:bold;font-size:24px;
}
.search_labels {
	float:left;width:85px;
}
.search_left {
	float:left;width:85px;height:50px;
}
.search_right {
	float:left;height:50px;
}
.searched_by {
	width:600px;min-height:20px;margin-left:15px;
}
.search_header_logo_simple {
	margin-left:60px !important; margin-top:10px !important; margin-right:-60px !important;
}
.search_header_logo_simple_wide {
	margin-left:60px !important; margin-top:10px !important; margin-right:-60px !important; float:left; width:195px;
}
.simple_btn {
	margin-top:15px;
}
.advanced_btn {
	margin-top:15px;
}
.search_year_dropdown {
	height: 25px;
}
.search_spinner {
	background: #ccc !important;
}
@media only screen and (max-width : 767px) {
}