/* CSS Document */
@media only screen and (min-width : 768px) {
	#car_demon_light_box_main_img {
		display: block;
		max-width: 640px;
		margin: 30px;
		margin-left: auto;
		margin-right: auto;
	}
	.car_buttons_div {
		height: 63px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 10px;
		width: 480px;
	}
	.car_detail_div {
		width:600px;height:300px;margin-left: auto;margin-right: auto;
	}
	.car_main_photo_box {
		cursor:pointer;float:left;
		margin-bottom: 30px;
	}
	.car_demon_main_photo {
		width: 320px;
		max-height: 243px;	
	}
	.car_details_box {
		float: left;
		margin-left: 15px;
		margin-top: 10px;
		margin-right: 25px;
	}
	.car_features_content_about {
		display:none;
	}
	#content_2, #content_3, #content_4, #content_5, #content_6 { display:none; }
	#car_features_box {  
		margin: 0px auto 0px auto;  
		width: 100%;
		max-width: 610px;
		margin-top:30px;
		clear: both;
	}
	.car_main_photo_box #look_close {
		display: none;
		width: 320px;
		max-height: 243px;	

	}
}
@media only screen and (max-width : 767px) {
	.car_buttons_div {
		width:100%;height:142px;margin-left:-10px;
	}
	.email_a_friend {
		display:none;
	}
	.car_detail_div {
		width:100%;margin-left: auto;margin-right: auto;
	}
	.car_main_photo_box {
		cursor:pointer;float:left;margin-bottom: 30px;
	}
	.car_details_box {
		float:left;margin-left:15px;margin-top:75px;
	}
	.nohor {
		height:280px;float:left;width:100% !important;
	}
	.similar_cars_container {
		display:none;
	}
	#look_close {
		display:none;
	}
	.cd_cdrf_main_photo {
		width:220px !important;
	}
	.compare {
		display:none;
	}
	.cd_cdrf_compare {
		display:none !important;
	}
	.car_price_details {
		margin-left:-50px;
	}
	.car_features_content {
		display:block;
		width:100% !important;
	}
	.car_features_content_about {
		display:block;
	}
	#content_1, #content_2, #content_3, #content_4, #content_5, #content_6 { display:block !important; }
	.tabs {
		display:none !important;
	}
	#car_features_box {  
		clear: both;
		margin: 0px;
		margin-left:-10px;
		width:100%;
		margin-top:30px;
		float:left;
	}
	.staff_card {
		width:200px !important;
	}
	.decode_table {
		table-layout: fixed; width: 100%
	}
	.decode_table td{
		word-wrap: break-word; width: 100%; overflow:hidden;
	}
}
.car_buttons_div .featured-button p {
	margin-top: 0px;
}
.car_buttons_div .featured-button p a {
	font-weight: 700;
}
.car_buttons_div .featured-button {
	background:url(../../../theme-files/images/featured-button.png) 0 0 no-repeat;
	border:none;
	cursor:pointer;
	display:block;
	height:61px;
	width:230px;
	float:left;
	margin-left:10px;
	margin-bottom:10px;
}
.car_buttons_div .featured-button a {
	color:#444;
	text-decoration:none;
}
.car_buttons_div .featured-button:hover {
	background-position:0 -61px;
	color:#444;
	text-decoration:none;
}
.car_buttons_div .featured-button p {
	font-size:18px;
	font-weight:700;
	height:61px;
	line-height:61px;
	text-align:center;
	text-shadow:0 1px #fff;
	text-transform:uppercase;
}
.cd_cdrf_main_photo {
	padding: 3px;
	border: 1px solid gray;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 5px rgba(0,0,0, .3);
	-webkit-box-shadow: 0 0 5px 
	rgba(0, 0, 0, .3);
	box-shadow: 0 0 5px 
	rgba(0, 0, 0, .3);
}
.cd_cdrf_thumbs {
	padding: 3px;
	margin: 5px;
	border: 1px solid gray;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 5px rgba(0,0,0, .3);
	-webkit-box-shadow: 0 0 5px 
	rgba(0, 0, 0, .3);
	box-shadow: 0 0 5px
	rgba(0, 0, 0, .3);
}
.car_line{
	height:2px;
	margin-top:15px;
	margin-bottom:15px;
}
.car_features_box h4 {  
    font-family:Arial, Helvetica, sans-serif;  
    font-size:23px;  
    color:#ffffff;  
    letter-spacing:-1px;  
    margin-bottom:10px;  
}  
.car_features_box h4 small {  
    color:#e3e9ec;  
    font-weight:normal;  
    font-size:9px;  
    font-family:Verdana, Arial, Helvetica, sans-serif;  
    text-transform:uppercase;  
    position:relative;  
    top:-4px;  
    left:6px;  
    letter-spacing:0px;  
}
.car_features {  
/*
    border:1px solid #494e52;  
    background-color:#636d76;
*/
    padding:1px;
	margin-bottom:10px;
}
.single-cars_for_sale .thumbnail {
	display: none;
}
.single-cars_for_sale ul.tabs {
    margin:0px; padding:0px;  
}  
.single-cars_for_sale ul.tabs li {  
    list-style:none;  
    display:inline; 
	margin: 0px;
}
.single-cars_for_sale ul.tabs li a {  
    background-color:#6495ED;  
    color:#ffebb5;  
    padding:4px 7px 8px 7px;  
    text-decoration:none;  
    font-size:9px;  
    font-family:Verdana, Arial, Helvetica, sans-serif;  
    font-weight:bold;  
    text-transform:uppercase;  
    border:1px solid #464c54;
	margin-left:3px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.single-cars_for_sale ul.tabs li a:hover {  
    background-color:#2f343a;  
    border-color:#2f343a;  
}
.single-cars_for_sale ul.tabs li a.active {  
    background-color:#ffffff;  
    color:#282e32;  
    border:1px solid #464c54;  
    border-bottom: 1px solid #ffffff;  
}
.car_features_content {  
    background-color:#ffffff;  
    padding:10px;  
    border:1px solid #464c54;
	min-height: 150px;
}
.single-cars_for_sale ul.tabs {  
    margin:0px; padding:0px;  
    margin-top:5px;  
    margin-bottom:4px;  
}
.car_features_content ul {  
    margin:0px;  
    padding:0px 10px 0px 10px;  
}  
.car_features_content ul li {  
    list-style:none;  
    border-bottom:1px solid #d6dde0;  
    padding-top:15px;  
    padding-bottom:15px;  
    font-size:13px;  
}  
.car_features_content ul li a {  
    text-decoration:none;  
    color:#3e4346;  
}  
.car_features_content ul li a small {  
    color:#8b959c;  
    font-size:9px;  
    text-transform:uppercase;  
    font-family:Verdana, Arial, Helvetica, sans-serif;  
    position:relative;  
    left:4px;  
    top:0px;  
}
.car_demon_photo_box {
	display:none;
	background:#000000;
	width:800px;
	height:600px;		
	padding: 9px;
	border: 3px solid gray;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 5px rgba(0,0,0, .3);
	-webkit-box-shadow: 0 0 5px 
	rgba(0, 0, 0, .3);
	box-shadow: 0 0 5px 
	rgba(0, 0, 0, .3);
}
.close_light_box {
	position:absolute;
	margin-left:740px;
	color:#CCCCCC;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	cursor:pointer;
}
.photo_next {
	cursor:pointer;
	position:absolute; 
	top:465px; 
	left:715px;
}
.photo_next:hover {
	top:467px;
	left:717px
}
.photo_prev {
	cursor:pointer;
	position:absolute; 
	top:465px; 
	left:55px;
}
.photo_prev:hover {
	top:467px;
	left:57px
}
.run_slideshow_div {
	position:absolute;
	color:#CCCCCC;
	font-weight:bold;
	top:12px; 
	left:615px;
}
.cd_cdrf_light_box_main_email {
	margin-left:80px; margin-top:25px;
}
.cd_cdrf_light_box_main {
	margin-left:80px; margin-top:25px;
}
.hor_lightbox {
	width:600px;
	height:75px;
	overflow:auto;
	white-space: nowrap;
	margin-left: 100px;
}
/*=====Email a Friend========*/
.ef_contact_final_msg_tmp {
	display:none; width:625px; height:550px; padding:5px;
}
.main_email_friend_div {
	background:#DDDDDD; width:625px; height:550px; padding:5px;
}
.email_friend_div {
	display: none;
}
.contact-appointment {
	margin: 10px auto 0 auto;
}
.cd-fs1 {
/*	width: 270px; */
}
.cd-fs4 {
/*	width: 270px; */
}
.ef_comment {
	margin-left:10px;
	width:240px !important;
	height:70px;
}
.ef_search_btn {
	margin-left:120px;
}
.ef_reqtxt {
	margin-left:10px !important;
	display: block;
}
.ef_contact_msg {
	display:none;
}
/*=====Start Car=============*/
.car_title_div {
	width:225px;font-size:12px;
}
.car_title {
	margin-top:-10px;
}
.car_content {
	background-color:#FFFFFF;height:100%;
}
.start_car {
	margin-top:2px;height:1px;
}
.car_buttons_div img {
	cursor:pointer;
}
.car_side_bar {
	float:left;
}
.clear_car {
	clear: both;
}
.similar_cars_box {
	width:650px;height:225px;margin-top:10px;
}
.similar_car {
	float:left;width:210px;height:185px;
}
.similar_car_ribbon {
	margin-left:10px;
}
.similar_car_look_close {
	margin-left:15px;
}
.contact_us_btn {
	color: #333 !important;	
}
.car_main_photo_box .look_close {
	max-width: 600px;
	width: 66%;
	min-width: 240px;
}
.single-cars_for_sale .car_demon_thumbs {
	float: left;
	margin: 2px;
}