/* CSS Document */
.car_demon_main_photo {
	max-width: 358px;
	max-height: 271px;
	width: 100%;
	padding: 3px;
	border: 1px solid gray;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 5px rgba(0,0,0, .3);
	-webkit-box-shadow: 0 0 5px 
	rgba(0, 0, 0, .3);
	box-shadow: 0 0 5px 
	rgba(0, 0, 0, .3);
}
.car_demon_thumbs {
	padding: 3px;
	margin-right:5px;
	border: 1px solid gray;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 5px rgba(0,0,0, .3);
	-webkit-box-shadow: 0 0 5px 
	rgba(0, 0, 0, .3);
	box-shadow: 0 0 5px
	rgba(0, 0, 0, .3);
}
.car_line{
	height:2px;
	margin-top:15px;
	margin-bottom:15px;
}
#car_features_box {  
    margin: 0px auto 0px auto;  
	margin-top:30px;
	clear: both;
}
.car_features_box h4 {  
    font-family:Arial, Helvetica, sans-serif;  
    font-size:23px;  
    color:#ffffff;  
    letter-spacing:-1px;  
    margin-bottom:10px;  
}  
.car_features_box h4 small {  
    color:#e3e9ec;  
    font-weight:normal;  
    font-size:9px;  
    font-family:Verdana, Arial, Helvetica, sans-serif;  
    text-transform:uppercase;  
    position:relative;  
    top:-4px;  
    left:6px;  
    letter-spacing:0px;  
}
.car_features {  
/*
    border:1px solid #494e52;  
    background-color:#636d76;
*/
    padding:1px;
	margin-bottom:10px;
}
.single-cars_for_sale ul.tabs {
    margin:0px; padding:0px;  
}
.single-cars_for_sale ul.tabs li {  
    list-style:none;  
    display:inline;  
}
.single-cars_for_sale ul.tabs li a {  
    background-color:#464c54;  
    color:#ffebb5;  
    padding:4px 7px 8px 7px;  
    text-decoration:none;  
    font-size:9px;  
    font-family:Verdana, Arial, Helvetica, sans-serif;  
    font-weight:bold;  
    text-transform:uppercase;  
    border:1px solid #464c54;
	margin-left:3px;
}
.single-cars_for_sale ul.tabs li a:hover {  
    background-color:#2f343a;  
    border-color:#2f343a;  
}
.single-cars_for_sale ul.tabs li a.active {  
    background-color:#ffffff;  
    color:#282e32;  
    border:1px solid #464c54;  
    border-bottom: 1px solid #ffffff;  
}
.car_features_content {  
    background-color:#ffffff;  
    padding:10px;  
    border:1px solid #464c54;
	min-height: 150px;
	overflow: hidden;
}
.car_features_content_about {
	display:none;
}
#content_2, #content_3, #content_4, #content_5, #content_6 { display:none; }
ul.tabs {  
    margin:0px; padding:0px;  
    margin-top:5px;  
    margin-bottom:4px;  
}
.car_features_content ul {  
    margin:0px;  
    padding:0px 10px 0px 10px;  
}  
.car_features_content ul li {  
    list-style:none;  
    border-bottom:1px solid #d6dde0;  
    padding-top:15px;  
    padding-bottom:15px;  
    font-size:13px;  
}  
.car_features_content ul li a {  
    text-decoration:none;  
    color:#3e4346;  
}  
.car_features_content ul li a small {  
    color:#8b959c;  
    font-size:9px;  
    text-transform:uppercase;  
    font-family:Verdana, Arial, Helvetica, sans-serif;  
    position:relative;  
    left:4px;  
    top:0px;  
}
.car_demon_photo_box {
	display:none;
	background:#000000;
	width:800px;
	height:600px;		
	padding: 9px;
	border: 3px solid gray;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 5px rgba(0,0,0, .3);
	-webkit-box-shadow: 0 0 5px 
	rgba(0, 0, 0, .3);
	box-shadow: 0 0 5px 
	rgba(0, 0, 0, .3);
}
.close_light_box {
	position:absolute;
	margin-left:740px;
	color:#CCCCCC;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	cursor:pointer;
}
.photo_next {
	cursor:pointer;
	position:absolute; 
	top:465px; 
	left:715px;
}
.photo_next:hover {
	top:467px;
	left:717px
}
.photo_prev {
	cursor:pointer;
	position:absolute; 
	top:465px; 
	left:55px;
}
.photo_prev:hover {
	top:467px;
	left:57px
}
.run_slideshow_div {
	position:absolute;
	color:#CCCCCC;
	font-weight:bold;
	top:12px; 
	left:615px;
}
.car_demon_light_box_main_email {
	margin-left:80px; margin-top:25px;
}
.car_demon_light_box_main {
	margin-left:80px; margin-top:25px;
}
.hor_lightbox {
	width:600px;
	height:75px;
	overflow:auto;
	white-space: nowrap;
	margin-left: 100px;
}
/*=====Email a Friend========*/
.ef_contact_final_msg_tmp {
	display:none; width:625px; height:550px; padding:5px;
}
.main_email_friend_div {
	background:#DDDDDD; width:625px; height:550px; padding:5px;
}
.email_friend_div {
	display: none;
}
.contact-appointment {
	margin: 10px auto 0 auto;
}
.cd-fs1 {
	width: 270px;
}
.cd-fs4 {
	width: 270px;
}
.ef_comment {
	margin-left:10px;
	width:240px !important;
	height:70px;
}
.ef_search_btn {
	margin-left:120px;
}
.ef_reqtxt {
	margin-left:10px !important;
	display: block;
}
.ef_contact_msg {
	display:none;
}
/*=====Start Car=============*/
.car_title_div {
	width:225px;font-size:12px;
}
.car_title {
	margin-top:-10px;
}
.car_content {
	background-color:#FFFFFF;height:100%;
}
.start_car {
	margin-top:2px;height:1px;
}
.car_buttons_div {
	width:100%;height:63px;
}
.car_buttons_div img {
	cursor:pointer;
}
.car_side_bar {
	float:left;
}
.clear_car, .cd-clear {
	clear: both;
}
.car_detail_div {
	height:300px;margin-left: auto;margin-right: auto;
}
.car_main_photo_box {
	cursor:pointer;float:left;
}
.car_details_box {
	float:left;margin-left:15px;
}
.similar_cars_box {
	height:225px;margin-top:10px;
}
.similar_car {
	float:left;width:210px;min-height:185px;
}
.similar_car_ribbon {
	margin-left:15px;
}
.similar_car_look_close {
	margin-left:15px;
}
#imgbox {
    vertical-align : middle;
    position : absolute;
    border: 1px solid #333;
    background : #FFFFFF; 
    filter: Alpha(Opacity=100);
    visibility : hidden;
    width : auto;
	height: 40%;
    z-index : 50;
    overflow : hidden;
    text-align : center;
	-moz-box-shadow:    1px 1px 2px 2px #555;
	-webkit-box-shadow: 1px 1px 2px 2px #555;
	box-shadow:         1px 1px 2px 2px #555;
}
/*
==========
*/
.nohor {
	width: 100% !important;	
}
ul.tabs li, .car_features {
	float: left;
}
#demon-content {
	width: 95% !important;
	max-width: 635px;
}
ul.tabs {
	float: left;
}
.car_features_content {
	float: left;	
}
.ribbon {
	max-width: 112px;
	max-height: 112px;	
}
.look_close {
	max-width: 358px;
	max-height: 271px;
	width: 100%;
}
.email_friend_form input[type=text] {
	width: 80%;
}
.similar_cars_box #look_close {
	display: none;
	max-width: 188px;
}